*{
    margin: 0;
    padding: 0;
}
.div1{
    height: 300px;
    width: 300px;
    background-color: red;
    justify-content: center;
   
}
.div1:hover {
    transition: 0.5s ease-in;
    transform: scale(1.1);
    background-color: aqua;
    opacity: 0.5;
}
